@model JKLSite.Models.ServiceModel
@{
    ViewBag.Title = "Ажилтан бүртгэх";
    Layout = "~/Views/Shared/_Layout_JKL.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header">
                <ol class="breadcrumb">
                    <li style="color:white">
                        Home
                    </li>
                    <li class="active">Ажилд явуулах</li>
                </ol>
            </h3>

        </div>
    </div>
    @using (Html.BeginForm())
    {
        <div class="col-sm-8">

            <div class="row">
                <div class="form-group col-lg-offset-6">
                    <label style="color:red">@ViewBag.Message</label>
                    <label style="color:red">@ViewBag.ErrorMessage</label>
                </div>
                <div class="form-group col-lg-offset-6">
                    <label for="sailorName">Далайчны Нэр</label>
                    @Html.DropDownListFor(a => a.SailorId, new SelectList(ViewBag.SailorList, "Value", "Text"), new { @class = "form-control", id = "SailorId", name = "SailorId",@readonly="readonly" })
                    @Html.HiddenFor(a => a.HistoryId)
                </div>
                <div class="form-group col-lg-offset-6">
                    <label for="sailorName">Далайчны Зэрэглэл</label>
                    @Html.DropDownListFor(a => a.RankId, new SelectList(ViewBag.RankList, "Value", "Text"), new { @class = "form-control", id = "RankId", name = "RankId",@readonly = "readonly" })
                </div>
                <div class="form-group col-lg-offset-6">
                    <label for="sailorName">Усан онгоц</label>
                    @Html.DropDownListFor(a => a.VesselId, new SelectList(ViewBag.VesselList, "Value", "Text"), new { @class = "form-control", id = "VesselId", name = "VesselId", @readonly = "readonly" })
                </div>
                <div class="form-group col-lg-offset-6">
                    <label for="SignOnDate">Эхлэх хугацаа</label>
                    @Html.TextBoxFor(a=>a.StartDate,new { @class = "form-control",Type="date",@Value =Model.StartDate.ToString("yyyy-MM-dd") })
                </div>
                <div class="form-group col-lg-offset-6">
                    <label for="ContractPerion">Ажиллах хугацаа(Сараар)</label>
                    @Html.TextBoxFor(a => a.PeriodMonth, new { @class = "form-control" })

                </div>

                <div class="form-group col-lg-offset-6">
                    <button class="btn btn-primary" type="submit">Бүртгэх</button>
                </div>
            </div>

        </div>
    }
</div>
