
@{
    ViewBag.Title = "RegisterService";
    Layout = "~/Views/Shared/_Layout_JKL.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header">
                <ol class="breadcrumb">
                    <li style="color:white">
                        Home
                    </li>
                    <li class="active">Ажилд явуулах</li>
                </ol>
            </h3>

        </div>
    </div>
    <div class="col-sm-8">
        <form action="@Url.Action("ServiceAdd","JKL")" method="POST" role="form">
            <div class="row">
                <div class="form-group col-lg-offset-6">
                    <label for="sailorName">Далайчны Нэр</label>
                    @Html.DropDownList("SailorId", new SelectList(ViewBag.SailorList, "Value", "Text"), new { @class = "form-control", id = "SailorId", name = "SailorId" })
                </div>
                <div class="form-group col-lg-offset-6">
                    <label for="sailorName">Далайчны Зэрэглэл</label>
                    @Html.DropDownList("RankId", new SelectList(ViewBag.RankList, "Value", "Text"), new { @class = "form-control", id = "RankId", name = "RankId" })
                </div>
                <div class="form-group col-lg-offset-6">
                    <label for="sailorName">Усан онгоц</label>
                    @Html.DropDownList("VesselId", new SelectList(ViewBag.VesselList, "Value", "Text"), new { @class = "form-control", id = "VesselId", name = "VesselId" })
                </div>
                <div class="form-group col-lg-offset-6">
                    <label for="SignOnDate">Эхлэх хугацаа</label>
                    <input type="date" class="form-control" id="SignOnDate" name="SignOnDate" />
                </div>
                <div class="form-group col-lg-offset-6">
                    <label for="ContractPerion">Ажиллах хугацаа(Сараар)</label>
                    <input type="text" class="form-control" id="ContractPerion" name="ContractPerion" />
                </div>
               
                <div class="form-group col-lg-offset-6">
                    <label style="color:red">@ViewBag.Message</label>
                </div>
                <div class="form-group col-lg-offset-6">
                    <button class="btn btn-primary" type="submit">Бүртгэх</button>
                </div>
            </div>
        </form>
    </div>
</div>


